fastapi==0.136.1
fastapi-mail==1.5.0
face-recognition-models==0.3.0
uvicorn==0.30.6
pymongo==4.6.0
SQLAlchemy==2.0.51
certifi>=2024.2.2
python-dotenv==1.2.2
python-jose==3.5.0
passlib[bcrypt]==1.7.4
PyJWT==2.10.1
pytz==2025.2
numpy==2.3.5
pdfplumber==0.11.9
PyPDF2==3.0.1
PyMuPDF==1.24.14
Pillow==10.4.0
python-multipart==0.0.20
pytesseract==0.3.13
python_docx==1.2.0
scikit_learn==1.5.2
google-generativeai==0.8.5
apscheduler==3.10.4
twilio==9.0.4
bcrypt==4.2.0
requests==2.32.3
setuptools==75.8.0
